Flask==2.2.2
python-dotenv==0.20.0
PyMySQL==1.0.2
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0
Flask-WTF==1.0.1
Flask-Markdown==0.3
python-slugify==6.1.2
Pillow==9.2.0
email-validator==1.2.1
cryptography==37.0.4