{% extends "base.html" %} {% block title %}{{ post.title }}{% endblock %} {%
block content %}
<div class="row">
  <div class="offset-md-2 col-md-8">
    {% include "_flashmessages.html" %} {% if post.image %}
    <div class="text-center pt-3">
      <img
        src="{{ url_for('static', filename='images/uploads/' + post.image + '.lg.png') }}"
        class="img-fluid"
        alt=""
      />
    </div>
    {% endif %}

    <h3 class="pt-3">{{ post.title }}</h3>
    <div>{{ post.body | markdown }}</div>

    <hr />
    <div class="text-muted">
      Posted by {{ post.author.full_name }} on {{
      post.publish_date.strftime("%Y-%m-%d") }} {% if post.category %} in
      <a
        href="{{ url_for('blog_app.categories', category_id=post.category.id) }}"
      >
        {{ post.category.name }}
      </a>
      {% endif %} {% if post.tags %} [{% for tag in post.tags %}
      <a href="{{ url_for('blog_app.tags', tag=tag.name) }}">{{ tag.name }}</a>
      {% if not loop.last %}, {% endif %}{% endfor %}] {% endif %} {% if
      session.id and session.id == post.author_id %} -
      <a href="{{ url_for('blog_app.edit', slug=post.slug) }}">Edit</a>
      -
      <a href="{{ url_for('blog_app.delete', slug=post.slug) }}">Delete</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
