{% extends 'base.html' %} {% block title %} {% if action == "new" %}New{% else
%}Edit{% endif %} Blog Post {% endblock %} {% block content %}
<div class="row">
  <div class="offset-md-2 col-md-8">
    {% if action == "new" %} {% set form_action = url_for('blog_app.post') %}
    <h3>New Blog Post</h3>
    {% else %} {% set form_action = url_for('blog_app.edit', slug=post.slug) %}
    <h3>Edit Blog Post</h3>
    {% endif %} {% from "_formhelpers.html" import render_field %}

    <form
      method="POST"
      action="{{ form_action }}"
      enctype="multipart/form-data"
      role="form"
    >
      {{ form.hidden_tag() }} {% if post and post.image %}
      <img
        src="{{ url_for('static', filename='images/uploads/' + post.image + '.sm.png') }}"
        class="img-thumbnail"
        alt=""
      />
      {% endif %} {{ render_field(form.image, class='form-control') }} {{
      render_field(form.title, class='form-control') }} {{
      render_field(form.body, class='form-control', rows=10) }} {{
      render_field(form.category, class='form-select') }} {{
      render_field(form.new_category, class='form-control') }}

      <div class="form-group mb-3">
        <label for="tags_field">Tags</label>
        <input
          type="text"
          class="form-control"
          id="tags_field"
          name="tags_field"
          value="{{ tags_field }}"
        />
      </div>

      {% if action == "new" %}
      <button type="submit" class="btn btn-primary">Post</button>
      {% else %}
      <button type="submit" class="btn btn-primary">Update</button>
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
