<div class="container">
  <div class="row mb-5">
    <div class="offset-md-2 col-md-8">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('blog_app.index') }}">
            {{ config['BLOG_NAME'] }}
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if session.id %}
              <li class="nav-item">
                <span class="navbar-text text-dark d-block">
                  {{ session.full_name }}
                </span>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('blog_app.post') }}" class="nav-link">
                  New Post
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('author_app.logout') }}" class="nav-link">
                  Logout
                </a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{{ url_for('author_app.login') }}" class="nav-link">
                  Login
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
